<mat-card class="box">
    <mat-card-title matCardTitle class="card-title">
        <h3 class="title">Title</h3>
        <button mat-button class="close-button" (click)="close()">X</button>
    </mat-card-title>

    <input matInput [ngModel]="product.id" name="id" hidden>
    <input matInput [ngModel]="product.created_at" name="created_at" hidden>
    <input matInput [ngModel]="product.updated_at" name="updated_at" hidden>

    <mat-card-content>
        <mat-form-field class="fullwidth">
            <mat-label>Name</mat-label>
            <input matInput [ngModel]="product.name" name="name" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="fullwidth">
            <mat-label>Description</mat-label>
            <textarea matInput [ngModel]="product.description" name="description" required></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="fullwidth" appearance="fill">
            <mat-label>Color</mat-label>
            <mat-select [(ngModel)]="product.color" name="color">
                <mat-option *ngFor="let color of colors" [value]="color">
                    {{color}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="fullwidth" appearance="fill">
            <mat-label>Size</mat-label>
            <mat-select [(ngModel)]="product.size" name="size">
                <mat-option *ngFor="let size of sizes" [value]="size">
                    {{size}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="fullwidth">
            <mat-slide-toggle 
                (change)="changeStatus($event)"
                [checked]="getStatus()">
                Status
            </mat-slide-toggle>
            <input matInput [ngModel]="product.status" name="status" hidden>
        </mat-form-field>
    </mat-card-content>
</mat-card>