<p class="toolbar">
    <mat-toolbar color="primary">
        <span>We Are Cactus</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="toolbar-icon" aria-label="Sign Out" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</p>

<mat-drawer-container class="drawer-container">
    <mat-table *ngIf="products else emptytable" [dataSource]="products">
        <ng-container *ngFor="let definition of columnsDefinition" [matColumnDef]=definition.columnDef>
            <mat-header-cell *matHeaderCellDef> {{definition.header}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row[definition.modelProperty]}} </mat-cell>
        </ng-container>
    
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['name', 'description', 'color', 'size', 'status', 'created_at', 'updated_at']"></mat-header-row>
        <mat-row 
            *matRowDef="let row; columns: ['name', 'description', 'color', 'size', 'status', 'created_at', 'updated_at']" 
            (click)="onClickRow(row)"
            class="row"
            [class.row-selected]="selectedProduct?.id === row.id">
        </mat-row>
    </mat-table>

    <mat-drawer #drawer class="side-nav" mode="side" position="end">
        <detail *ngIf="selectedProduct" [(product)]="selectedProduct"></detail>
    </mat-drawer> 
</mat-drawer-container>

<!-- Templates -->
<ng-template #emptytable>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #columnDefinitions>
    
</ng-template>