.toolbar-spacer {
    flex: 1 1 auto;
}

.drawer-container {
    height: 100%;
    margin: 0;
}

.row {
    cursor: pointer;
}

.row-selected {
    background-color: pink;
}

.side-nav {
    width: 500px;
}