<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error id="email-error" *ngIf="true">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error id="password-error" *ngIf="true">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button type="submit" color="accent" class="btn-block" [disabled]="!loginForm.valid">Sign-in</button>
        </form>
    </mat-card>
</div>